<html>
  <head>
    <title>Register</title>
  </head>
  <body>
    <div>
        <form action="registerResult" method="post">
      <label for="email">Email</label>
      <input type="text" placeholder="email" name="email" />
      <label for="password">Password</label>
      <input type="text" placeholder="password" name="pass" />
      <label for="Name">Name</label>
      <input type="text" placeholder="Name" name="name" />
      <button type="submit">SUBMIT</button>
    </form>
    </div>
  </body>
</html>
