<html>
    <head>
        <link rel="stylesheet" href="form.css">
    </head>
    <body>
        <div class="ticket">
            <div class="tichead">
                <p>Bus Ticket</p>
                <img src="busicon.svg" alt="" class="ticicon"/>
            </div>
            <div>
                <div>
                    <p>Name</p>
                    <p>Date</p>
                </div>
                <div>
                     <p>From</p>
                <p>To</p>
                </div>
                <div>
                    <p>No of Seats</p>
                <p>Price</p>
                </div>
                <button>ok</button>
                <button>Download</button>
            </div>
        </div>
    </body>
</html>