<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="ticket">
            <div class="tichead">
                <p>Bus Ticket</p>
                <img src="busicon.svg" alt="" class="ticicon"/>
            </div>
            <div style="background-color: rgb(192, 189, 189);border-radius: 10px;margin: 0vw 0vw 0vw 0vw;">
                <div class="ticdiv">
                    <p>Name:jaideep</p>
                    <p>Date:10-10-2002</p>
                </div>
                <div class="ticdiv">
                    <p>From:chennai</p>
                    <p>To:chennai</p>
                </div>
                <div class="ticdiv">
                    <p>No of Seats:5</p>
                    <p>Price:200</p>
                </div>
                <button class="ticbut">OK</button>
            </div>
        </div>
    </body>
</html>